@charset "UTF-8";

body {
    margin: 0 auto;
    font: 13px "微软雅黑", Helvetica, Arial;
    background: url('/public/images/bg3.jpg');
    background-size: cover;
    user-select: none;
}

.name {
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(238, 238, 238, 0.8);
    text-align: center;
    padding-top: 40vh;
}

.name input {
    width: 270px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #bbb;
    background-color: #f3f3f3;
    font-size: 18px;
    color: #555;
    text-align: center;
    outline:none
}

.name input:focus::-webkit-input-placeholder {
    color: transparent;
}

.name button {
    display: block;
    width: 80px;
    height: 30px;
    margin: 0 auto;
    border: none;
    background-color: #805b6b;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    outline:none
}

#checkCont {
    display: inline-block;
    width: 180px;
    height: 34px;
    background-color: aqua;
    overflow: hidden;
}

#yzm {
    width: 180px;
}

#checkCode {
    display: inline-block;
}

#warnInfo {
    display: inline-block;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: red;
}